################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/firstlearning/FileContentIndex/10be7f79-fa6c-4076-902c-ab1a2111804d.vsidx
/.vs/firstlearning/FileContentIndex/911130ba-86c1-4444-a477-4b3c2e645b3a.vsidx
/.vs/firstlearning/FileContentIndex/cacaa731-ddb5-41ed-b1b4-6397c720dd2a.vsidx
/.vs/firstlearning/FileContentIndex/d59fd003-0038-416f-a73c-39317f500360.vsidx
/.vs/firstlearning/FileContentIndex/f2ba30be-f4d7-4afe-ad38-34a21de51ffb.vsidx
